@font-face {
  font-family: 'Constructivist';
  src: url('../fonts/Geo-Regular.ttf');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/RubikMonoOne-Regular.ttf');
}

@font-face {
  font-family: 'Artistic-80';
  src: url('../fonts/MajorMonoDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Chinese-Thin';
  src: url('../fonts/NotoSansSC-Thin.otf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/double-bubble-outline.png');
  background-repeat: repeat;
}

.main {
  background: linear-gradient(to bottom right, rgba(255, 247, 231, .7), rgba(255, 247, 231, 0.5));
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  height: 90vh;
  width: 60vw;
  box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.17);
  -webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.17);
  display: flex;
  flex-direction: column;
  border-color: #333;
  border-radius: 1rem;
}

.horizontal-line {
  width: 60vw;
  height: 2rem;
  background-color: #333;
  position: absolute;
  bottom: calc(100vh * 0.23);
  color: white;
  z-index: 5;
  font-family: Constructivist;
}

.vertical-line {
  height: 90vh;
  width: 2rem;
  background-color: #333;
  position: absolute;
  right: 30%;
  z-index: 5;
  top: 5%;
}

.top-line {
  display: flex;
  direction: row;
  flex-grow: 4;
}

.bottom-line {
  display: flex;
  direction: row;
  flex-grow: 1;
}

.tl-rect {
  background-color: rgb(238, 226, 204);
  flex-grow: 4;
  display: flex;
  flex-direction: row;
  border-top-left-radius: 2rem;
}

.tr-rect {
  background-color: rgb(241, 87, 49);
  flex-grow: 1;
  border-top-right-radius: 1rem;
}

.bl-rect {
  background-color: rgb(249, 161, 28);
  flex-grow: 4;
  border-bottom-left-radius: 1rem;
}

.br-rect {
  background-color: rgb(82, 143, 174);
  flex-grow: 1;
  border-bottom-right-radius: 1rem;
}

.horizontal-inscription {
  margin: 0px 2px;
  color: rgb(238, 226, 204);
  font-size: 2.3rem;
  line-height: 2rem;
  text-align: justify;
  text-align-last: justify;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#enter-text {
  position: absolute;
  font-family: Rubik-Bold;
  transform: rotate(270deg);
  top: 32%;
  left: 8%;
  font-size: 7em;
  color: rgb(82, 143, 174);
}

#enter-text--c {
  position: absolute;
  font-family: Rubik-Bold;
  transform: rotate(270deg);
  top: 34%;
  left: 8%;
  font-size: 7em;
  color: rgba(0, 255, 255, 0.5);
  visibility: hidden;
}

#enter-text--c:focus {
  color: rgb(0, 255, 255);
}

#enter-text--m {
  position: absolute;
  font-family: Rubik-Bold;
  transform: rotate(270deg);
  top: 32%;
  left: 8%;
  font-size: 7em;
  color: rgba(255, 0, 255, 0.5);
  visibility: hidden;
}

#enter-text--y {
  position: absolute;
  font-family: Rubik-Bold;
  transform: rotate(270deg);
  top: 30%;
  left: 8%;
  font-size: 7em;
  color: rgba(255, 255, 0, 0.5);
  visibility: hidden;
}

#circle {
  height: 15rem;
  width: 15rem;
  background: linear-gradient(to right, rgb(185, 220, 224) 0%, rgb(185, 220, 224) 70%, rgb(249, 161, 28) 70%, rgb(249, 161, 28) 100%);
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 25%;
  z-index: 0;
}

#web-dev {
  position: absolute;
  text-transform: uppercase;
  font-family: Rubik-Bold;
  font-size: 2rem;
  top: 20%;
  right: 35%;
  color: #333;
}

.chinese-name {
  position: absolute;
  font-family: Chinese-Thin;
  font-size: 5rem;
  writing-mode: vertical-lr;
  right: 20.5%;
  top: 10%;
}